.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.inputWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.countryCard {
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  margin: 10px;
  height: 200px;
}

img {
  width: 150px;
  height: 150px;
}
